# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Model artifacts
models/
outputs/
# ML artifacts
models/*.pkl
outputs/*.txt

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log




outputs/*.csv

