# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual environments
# ===============================
venv/
.env/
.envrc/

# ===============================
# Jupyter / experiments
# ===============================
.ipynb_checkpoints/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Data & artifacts
# ===============================
data/*.csv
models/*.pkl
outputs/

# ===============================
# Logs
# ===============================
*.log
